Admin/Connected Services/ServisAutomehanikeref/ServisAutomehanikeISPIT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServisAutomehanikeISPIT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServisAutomehanikeISPIT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="korisnicko_ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lozinka" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="Automobil">
    <xs:sequence>
      <xs:element minOccurs="0" name="cena_popravke" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_popravke" type="xs:int" />
      <xs:element minOccurs="0" name="korisnicko_ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="podaci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Automobil" nillable="true" type="tns:Automobil" />
  <xs:complexType name="Popravka">
    <xs:sequence>
      <xs:element minOccurs="0" name="cena_dela" type="xs:decimal" />
      <xs:element minOccurs="0" name="deo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_popravke" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Popravka" nillable="true" type="tns:Popravka" />
</xs:schema>